name: Deploy to Raspberry Pi

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build
        run: ./gradlew clean build -x test

#      - name: Connect Tailscale
#        uses: tailscale/github-action@v2
#        with:
#          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}

      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          tags: ${{ secrets.TS_TAILSCALE_TAG }}

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan ${{ vars.HATOBERRY_TAILSCALE_IP }} >> ~/.ssh/known_hosts

      - name: Upload JAR
        run: |
          rsync -av build/libs/hatoberry-api-0.0.1-SNAPSHOT.jar \
            bot-user1@${{ vars.HATOBERRY_TAILSCALE_IP }}:/var/www/hatoberry-api/app.jar

      - name: Restart service
        run: |
          ssh ${{ vars.SSH_USER }}@${{ vars.HATOBERRY_TAILSCALE_IP }} \
            "sudo systemctl restart hatoberry-api"
